/* CSS for PollXBlock Studio View */

label#label_id, label#label_text {
    text-align: center;
}

label.group-id, input.group-id {
    width: 15% !important;
}

label.group-text, input.group-text {
    width: 30% !important;
}

input.setting-input-checkbox {
    min-width: 20px;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}
